---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// site title
.site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0;  }

// link style
.toplinks a:link{color:orange;}      /* 未访问链接*/
.toplinks a:visited {color:grey;} /*  已访问链接 */
.toplinks a:hover {color:grey;}  /* 鼠标移动到链接上 */
.toplinks a:active {color:#0000FF;}  /* 鼠标点击时 */


// background


// remove 1px solid border-bottom
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 0 solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}